.achievement {
    background-color: #fafffd;
}
.achievement-card {
    background-color: #fff;
}
.achievement-card:nth-child(1),
.achievement-card:nth-child(4) {
    border: none;
    border-radius: 0 60px 0 60px;
}
.achievement-card:nth-child(2),
.achievement-card:nth-child(3) {
    border: none;
    border-radius: 60px 0 60px 0;
}
.achievement-card:hover {
    border: none;
    background: linear-gradient(135deg, #02a2f8 0%, #28f29c 100%);
    cursor: pointer;
}
.achievement-card:hover img {
    filter: brightness(1000%);
}
.achievement-card:hover .achievement-text {
    color: white !important;
}
